<app-movement-form></app-movement-form>
<h2>Movements</h2>

<div *ngIf="loading">loading...</div>
<table>
  <thead>
    <tr>
      <th style="text-align: left;">Data</th>
      <th style="text-align: left;">Conto</th>
      <th style="text-align: right;">Importo</th>
      <th style="text-align: left;">Descrizione</th>
      <th style="text-align: left;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movement of movements">
      <td>{{ movement.date | date: 'dd/MM/y'}}</td>
      <td>{{ movement.account }}</td>
      <td style="text-align: right;">{{ movement.amount | currency: 'EUR' }}</td>
      <td>{{ movement.description }}</td>
      <td><a title="View" [routerLink]="['/movements', movement.id]">View</a></td>
    </tr>
  </tbody>
</table>
